@using NovaFashion.SharedViewModels
@using NovaFashion.SharedViewModels.ProductDtos

@model ProductsModel


@if (!Model.Products.Items.Any())
{
    <div class="d-flex flex-column align-items-center justify-content-center py-5 text-muted">
        <span class="fa-stack fa-3x mb-3">
            <i class="fa-regular fa-file fa-stack-2x"></i>
            <i class="fa-solid fa-magnifying-glass fa-stack-1x" style="margin-top: 0.4em; margin-left: 0.4em;"></i>
        </span>
        <p class="fs-5">Không tìm thấy sản phẩm nào.</p>
    </div>
}
else
{
   
    <div class="row g-4">
        @foreach (var item in Model.Products.Items)
        {
            <div class="product-card col-md-4 col-sm-6">
                <div class="product-img">
                    <img src="@item.Images.FirstOrDefault()?.ImageUrl" class="image-default">
                    <img src="@item.Images.Skip(1).FirstOrDefault()?.ImageUrl" class="image-hover">
                </div>

                <div class="product-body">
                    <h5>@item.ProductName</h5>
                    <p>@item.Description</p>
                    <span>@item.UnitPrice?.ToString("N0") đ</span>
                </div>
            </div>
        }

    </div>
   

}

