@model ProductsModel

<div class="d-flex align-items-center gap-3 flex-wrap">

    <div>
        <label>Hiển thị:</label>
        <select id="PageSize"
                name="PageSize"
                class="form-select form-select-sm"
                hx-get="/shop"
                hx-target="#product-container"
                hx-swap="innerHTML" 
                hx-push-url="true"
                hx-include="#MinPrice, #MaxPrice, #SortBy"
                hx-vals='{"PageNumber": "1"}'
                hx-trigger="change">
                            
            <option value="5" selected="@(Model.PageSize == 5 ? "selected" : null)">5</option>
            <option value="10" selected="@(Model.PageSize == 10 ? "selected" : null)">10</option>
            <option value="20" selected="@(Model.PageSize == 20 ? "selected" : null)">20</option>
        </select>
    </div>

    <div>
        <label>Sắp xếp:</label>
        <select id="SortBy"
                name="SortBy"
                class="form-select form-select-sm"
                hx-get="/shop"
                hx-target="#product-container"
                hx-swap="innerHTML"  
                hx-push-url="true"
                hx-include="#MinPrice, #MaxPrice, #PageSize"
                hx-vals='{"PageNumber": "1"}'
                hx-trigger="change">
            <option value="Newest" selected="@(Model.SortBy == "Newest" ? "selected" : null)">Mới nhất</option>
            <option value="NameAsc" selected="@(Model.SortBy == "NameAsc" ? "selected" : null)">Tên A → Z</option>
            <option value="NameDesc" selected="@(Model.SortBy == "NameDesc" ? "selected" : null)">Tên Z → A</option>
        </select>
    </div>

</div>

